<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Bootstrap-->
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!--Css-->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>LexLegal</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 bg-info px-0 ">
          <a href="{% url 'index' %}"><img src="{% static 'img/banner.jpg' %}" alt="LexLegal" class="w-100"></a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="row bg-principal">
        <div class="col-12 p-4 principal text-justify">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-perfil" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Cliente</button>
              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-actualizar" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Actualizar datos</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-solicitud" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Crear solicitud</button>
              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-caso" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Casos</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active p-3" id="nav-perfil" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
              <h1>Tu información</h1>
              <p>Nombre: {{cliente.nombreCliente}} {{cliente.apPaternoCliente}} {{cliente.apMaternoCliente}}</p>
              <p>Email: {{cliente.correoCliente}}</p>
              <p>Dirección: {{cliente.direccionCliente}}</p>
              <p>Comuna: {{cliente.comuna}}</p>
            </div>
            <div class="tab-pane fade p-3" id="nav-actualizar" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
              <h1>Actualizar datos</h1>
              <form action="{% url 'actualizarCliente' %}" method="POST" name="registro" class="w-75 row">
                {% csrf_token %}
                <div class="col-12 col-md-6 mb-4">
                  <label for="run" class="form-label">Run</label>
                  <input type="text" name="run" class="form-control" id="run" value="{{cliente.runCliente}}" required>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" name="email" class="form-control" id="email" value="{{cliente.correoCliente}}" required>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <label for="password" class="form-label">Contraseña</label>
                  <input type="password" name="password" class="form-control" id="password" value="{{cliente.contraseñaCliente}}" required>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <label for="nombre" class="form-label">Nombres</label>
                  <input type="text" name="nombre" class="form-control" id="nombre" value="{{cliente.nombreCliente}}" required>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <label for="apPaterno" class="form-label">Apellido Paterno</label>
                  <input type="text" name="apPaterno" class="form-control" id="apPaterno" value="{{cliente.apPaternoCliente}}" required>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <label for="apMaterno" class="form-label">Apellido Materno</label>
                  <input type="text" name="apMaterno" class="form-control" id="apMaterno" value="{{cliente.apMaternoCliente}}" required>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <label for="direccion" class="form-label">Dirección</label>
                  <input type="text" name="direccion" class="form-control" id="direccion" value="{{cliente.direccionCliente}}" required>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <label for="telefono" class="form-label">Telefono</label>
                  <input type="text" name="telefono" class="form-control" id="telefono" value="{{cliente.telefonoCliente}}" required>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <label for="comuna" class="form-label">Comuna</label>
                  <select name="comuna" class="form-control" id="comuna" required>
                    {% for com in comuna %}
                      {% if cliente.comuna.idComuna == com.idComuna %}
                      <option value="{{com.idComuna}}" selected>{{com.nombreComuna}}</option>
                      {% else %}
                      <option value="{{com.idComuna}}">{{com.nombreComuna}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                  <button type="submit" class="btn btn-primary" id="btnRegistro">Actualizar</button>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="nav-solicitud" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
              <h1>Ingresar una solicitud</h1>
              <form action="enviarSolicitud" method="POST" name="form-solicitud" class="w-75">
                {% csrf_token %}
                <div class="col-12 mb-4">
                  <label for="solicitud" class="form-label">Descripción:</label>
                  <textarea name="desc-solicitud" id="solicitud" cols="30" rows="10" class="form-control" maxlength="100"></textarea>
                </div>
                <div class="col-12 mb-4 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary" id="btnSolicitud">Enviar</button>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="nav-caso" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
              <h1>Casos actuales</h1>
              <table class="table table-light table-striped mt-3">
                <thead>
                  <th>ID caso</th>
                  <th>Abogado</th>
                  <th>Descripción</th>
                  <th>ID contrato</th>
                  <th>Fecha contrato</th>
                  <th>Detalles</th>
                </thead>
                <tbody>
                {% for ca in caso %}
                    <tr>
                      <td>{{ca.idCaso}}</td>
                      <td>{{ca.empleado}}</td>
                      <td>{{ca.descripcionCaso}}</td>
                      <td>{{ca.contrato.idContrato}}</td>
                      <td>{{ca.contrato.fechaContrato}}</td>
                      <td><a class="btn btn-success" href="{% url 'detalles' pk=ca.idCaso %}">Ver detalles</a></td>
                    </tr>
                {% endfor %}              
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 p-4 bg-info">
          <span style="font-weight: bold;">Telefono:</span>
          <span>+56 965789426</span><br>
          <span style="font-weight: bold;">Correo:</span>
          <span>consulta@lexlegal.cl</span>
        </div>
        <div class="col-12 col-md-6 p-4 bg-info d-flex justify-content-center align-items-center">
          <span style="font-weight: bold;">Nuestras redes:</span>
          <div class="col-6 col-md-4 d-flex redes justify-content-center align-items-center">
            <a href="https://twitter.com/">
              <button class="btn btn-primary">
                <i class="bi bi-twitter"></i>
              </button>
            </a>
          </div>
          <div class="col-6 col-md-4 d-flex redes justify-content-center align-items-center">
            <a href="https://instagram.com/">
              <button class="btn btn-danger">
                <i class="bi bi-instagram"></i>
              </button>
            </a>
          </div>
          <div class="col-6 col-md-4 d-flex  redes justify-content-center align-items-center">
            <a href="https://facebook.com/">
              <button class="btn btn-primary">
                <i class="bi bi-facebook"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>