<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Bootstrap-->
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!--Css-->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>LexLegal</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 bg-info px-0 ">
          <a href="{% url 'index' %}"><img src="{% static 'img/banner.jpg' %}" alt="LexLegal" class="w-100"></a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="row bg-principal">
        <div class="col-12 col-md-9 p-4 principal text-justify">
          <div class="row bg-info mb-4 p-2">
            <h1>Sobre nosotros</h1>
            <p>LexLegal es una firma de abogados líder, compuesta por expertos en
              diversas áreas legales. Nuestro objetivo es ofrecer servicios
              legales del más alto estándar a nuestros clientes. Respaldados
              por una sólida trayectoria y una reputación envidiable, nos enorgullece
              ser una referencia confiable en el campo legal.
              <br>
              <br>
              En LexLegal, valoramos la confianza que nuestros clientes depositan
              en nosotros. Por eso, nos esforzamos por mantener altos estándares
              éticos y de calidad en todo lo que hacemos. Además de nuestras oficinas
              estratégicamente ubicadas en el centro de la ciudad, contamos con una
              moderna plataforma web que facilita la comunicación y el acceso a la
              información para satisfacer las necesidades legales de nuestros clientes
              de manera eficiente.
            </p>
          </div>
          <div class="row bg-info mb-4 p-2">
            <h1 style="text-align: end;">Nuestra Misión</h1>
            <p>En LexLegal, nuestra misión es brindar servicios legales excepcionales
              y estratégicos a nuestros clientes. Nos dedicamos a proteger sus derechos
              e intereses, y a proporcionarles soluciones prácticas para sus problemas
              legales. Ya sea en disputas comerciales, asuntos de propiedad intelectual,
              derecho laboral, derecho de familia u otras áreas legales complejas,
              nos comprometemos a superar las expectativas y lograr resultados
              favorables.
              <br>
              <br>
              Trabajamos en estrecha colaboración con nuestros clientes, centrándonos
              en comprender sus necesidades individuales y proporcionarles
              asesoramiento experto y representación legal efectiva. Nuestro objetivo
              es establecer relaciones sólidas y duraderas, basadas en la honestidad,
              la comunicación clara y el compromiso mutuo.
            </p>
          </div>
          <div class="row bg-info p-2">
            <h1>Nuestro equipo</h1>
            <p>En LexLegal, contamos con un equipo de abogados altamente calificados
              y especializados en diversas áreas del derecho. Nuestros profesionales
              tienen amplia experiencia y conocimientos en sus respectivas áreas de
              práctica, lo que nos permite ofrecer una representación legal integral
              y de calidad.
              <br>
              <br>
              Valoramos la capacitación y el desarrollo profesional continuo de nuestro
              equipo. Mantenemos a nuestros abogados actualizados sobre los cambios
              legales y las tendencias del mercado, para ofrecer un asesoramiento
              legal informado y estratégico a nuestros clientes.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-3 p-4">
          {% if request.session.runCliente %}
          <div class="row mt-3 bg-light d-flex justify-content-center">
            <div class="m-3 d-flex justify-content-center">
              Bienvenido {{request.session.runCliente}}
            </div>
            <div class="d-flex justify-content-center m-3">
              <a class="btn btn-primary" href="{% url 'cliente' %}">Panel de control</a>
            </div>
            <div class="d-flex justify-content-center m-3">
              <a class="btn btn-danger" href="{% url 'salir' %}">Cerrar sesión</a>
            </div>
          </div>
          {% elif request.session.runEmpleado %}
          <div class="row mt-3 bg-light d-flex justify-content-center">
            <div class="m-3 d-flex justify-content-center">
              Bienvenido {{request.session.runEmpleado}}
            </div>
            <div class="d-flex justify-content-center m-3">
              <a class="btn btn-primary" href="{% url 'empleado' %}">Panel de control</a>
            </div>
            <div class="d-flex justify-content-center m-3">
              <a class="btn btn-danger" href="{% url 'salir' %}">Cerrar sesión</a>
            </div>
          </div>
          {% else %}
          <div class="row bg-light">
            <form novalidate action="{% url 'inicioSesion' %}" method="POST" name="login" id="login">
              {% csrf_token %}
              <div class="m-2">
                <label for="text" class="form-label">Run</label>
                <input type="text" class="form-control" name="run" id="run" required>
              </div>
              <div class="m-2">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password" id="password" required>
              </div>
              <div class="d-grid m-2">
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
              </div>
            </form>  
              <div class="m-2 text-center">
                <span><a href="{% url 'registro' %}">Registrar</a></span>
              </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 p-4 bg-info">
          <span style="font-weight: bold;">Telefono:</span>
          <span>+56 965789426</span><br>
          <span style="font-weight: bold;">Correo:</span>
          <span>consulta@lexlegal.cl</span>
        </div>
        <div class="col-12 col-md-6 p-4 bg-info d-flex justify-content-center align-items-center">
          <span style="font-weight: bold;">Nuestras redes:</span>
          <div class="col-6 col-md-4 d-flex redes justify-content-center align-items-center">
            <a href="https://twitter.com/">
              <button class="btn btn-primary">
                <i class="bi bi-twitter"></i>
              </button>
            </a>
          </div>
          <div class="col-6 col-md-4 d-flex redes justify-content-center align-items-center">
            <a href="https://instagram.com/">
              <button class="btn btn-danger">
                <i class="bi bi-instagram"></i>
              </button>
            </a>
          </div>
          <div class="col-6 col-md-4 d-flex  redes justify-content-center align-items-center">
            <a href="https://facebook.com/">
              <button class="btn btn-primary">
                <i class="bi bi-facebook"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>