h1 {
    font-weight: bold;
}

.bg-principal {
    background-color: lightsteelblue;
}

.principal p {
    text-align: justify;
}

#form-login a {
    text-decoration: none;
}

.redes {
    width: 70px;
}

.exito {
    background-color: palegreen;
    font-size: 2rem;
    font-weight: bold;
    border: solid;
    border-color: darkgreen;
    width: 20rem;
    height: 3em;
  }